<!DOCTYPE html>
<html>
	<head>
		<title>Othello</title>
		<link rel="icon" type="image/png" href="nearestneighbourscript.png" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="a.css">
	</head>
	<body bgcolor="#E6E6FA">
		<table cellpadding="0" cellspacing="0">
			<tbody id="bored">
				<tr v-for="row in board">
					<td @click="play($parent.$index, $index, column)" v-for="column in row" track-by="$index" :class="{'one': column === true, 'two': column === false, 'possible': visibleMoves && column !== null && typeof column === 'object'}"></td>
				</tr>
			</tbody>
		</table>
		<pre>{{ $data | json }}</pre>
		<label><input type="checkbox" id="visibleMoves" v-model="visibleMoves">Show possible moves</label>
		<button @click="init()" id="local" type="button">New local game</button>
		<button id="create" type="button">Join online game</button>
		<button id="camera" class="hidden" type="button">Front camera</button>
		<select id="opponents" class="hidden"></select>
		<button id="join" class="hidden">Connect to this opponent</button>
		<video id="u"></video>
		<script src="vue.js"></script>
		<script src="b.js"></script>
	</body>
</html>